.copyright {
  margin-bottom: 2rem;
  text-align: center;
  font-size: large;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.sp_copyright {
  margin-bottom: 2rem;
  text-align: center;
  font-size: medium;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
