.copyright {
  margin-bottom: 2rem;
  text-align: center;
  font-size: large;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.sp_copyright {
  margin-bottom: 1rem;
  font-size: medium;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}
