.container{
  width: 100%;
}

.flex_container{
  display: flex;
  margin: 0 21%;
}

.logo{
  margin-top: 10rem;
  width: 260px;
}

.nav{
  margin: 0 20%;
  margin-top: 30px;
}

.nav :link{
  font-size: 3rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 2rem;
  text-decoration: underline;
}

.external{
  height: 100%;
  display: flex;
  margin-left: 5rem;
  margin-top: 22rem;
}

.instagram{
  width: 4rem;
  height: 4rem;
}

.facebook{
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
}

.email{
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
}