.pc_container {
  margin: 50px auto;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.pc_container .div1 {
  grid-area: 1 / 2 / 6 / 11;
}
.pc_container .div2 {
  grid-area: 1 / 11 / 7 / 18;
}
.pc_container .div3 {
  grid-area: 1 / 18 / 6 / 24;
}
.pc_container .div4 {
  grid-area: 6 / 2 / 9 / 7;
}
.pc_container .div5 {
  grid-area: 7 / 7 / 13 / 18;
}
.pc_container .div6 {
  grid-area: 6 / 18 / 12 / 24;
}
.pc_container .div7 {
  grid-area: 12 / 18 / 17 / 24;
}
.pc_container .div8 {
  grid-area: 9 / 2 / 14 / 7;
}
.pc_container .div9 {
  grid-area: 13 / 7 / 20 / 17;
}
.pc_container .div10 {
  grid-area: 19 / 20 / 21 / 24;
}

.pc_container .project_list {
  white-space: nowrap;
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.sp_container {
  margin-top: 10px;
  /* width: 65%; */
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.sp_container .div1 {
  grid-area: 1 / 2 / 4 / 11;
  height: 90%;
}
.sp_container .div2 {
  grid-area: 1 / 11 / 4 / 18;
  height: 100%;
}
.sp_container .div3 {
  grid-area: 1 / 18 / 4 / 24;
  height: 80%;
}
.sp_container .div4 {
  grid-area: 4 / 2 / 6 / 7;
  margin-top: -15px;
  height: 65%;
}
.sp_container .div5 {
  grid-area: 4 / 7 / 7 / 18;
}
.sp_container .div6 {
  grid-area: 3 / 18 / 7 / 24;
  margin-top: 20px;
  height: 80%;
}
.sp_container .div7 {
  grid-area: 7 / 18 / 10 / 24;
  margin-top: -15px;
  height: 80%;
}
.sp_container .div8 {
  grid-area: 5 / 2 / 7 / 7;
  /* margin-top: -20px; */
  height: 110%;
}
.sp_container .div9 {
  grid-area: 7 / 7 / 11 / 16;
  height: 90%;
}
.sp_container .div10 {
  grid-area: 10 / 20 / 10 / 24;
}

.sp_container .project_list {
  white-space: nowrap;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}
