.pc_container {
  margin: 10rem auto;
  width: 576px;
}

.title {
  margin-bottom: 10rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.img {
  width: 576px;
  height: 432px;
}

.body {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.category_ja,
.year {
  font-size: 1.5rem;
}
